.cell {
    width: 98px;
    height: 98px;
    background-color: #f6f6f6;
    border: solid 2px #a6a4a4;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    padding: 5px;
}

.cell img {
    max-width: 100%;
    max-height: 100%;
}

.cell:hover {
    box-shadow: 4px 4px 15px #818080;
    transition: all 0.15s ease;
    transform: scale(101%);
    cursor: pointer;
}

.front {
    transform: rotateY(180deg);
}

.back {

}

.front, .back {
    transition: 1s;
}