@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.title {
    font-family: Neucha;
    font-size: 36px;
    margin: 30px 0;
    color: #313131;
    cursor: default;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: block;
}

@media (min-width: 701px) {
    .title {
        font-size: 50px;
        margin: 50px 0;
    }
}